/* Syntactically Awesome Stylesheets (SASS, https://sass-lang.com/) is a preprocessing language for CSS. It has it's own syntax, meaning you would have to learn another laguage to work with it effectively. There are some advantages to working with a language like SASS though: 
 * - more legible/simpler markup
 * - CSS compression 
 * - reusable code  */
#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#main-nav .projectDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
#main-nav .project {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 75% 25%;
  grid-template-rows: 75% 25%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
#main-nav .project > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#main-nav .project > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutMe .aboutMeText {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#ContactMe {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.tagSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.tagSection div p {
  text-align: center;
  color: #FFFFFF;
}

.aboutMeText {
  margin-left: 1rem;
  margin-top: 0.3rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

.tagSidebar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.tagSidebar .roleTag {
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.tagLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.headSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timesNotedImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hellgeneDuoImgHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hellgeneTriImgHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.TOATriImgHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.NFTCardCollection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectIndepth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.headSection {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

.regularSection {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}

.sideBar2Tag {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  min-width: 13rem;
  display: -ms-grid;
  display: none;
  -ms-grid-rows: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.sideBar2Tag > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.sideBar2Tag > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.sideBar3Tag {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  min-width: 13rem;
  display: -ms-grid;
  display: none;
  -ms-grid-rows: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.sideBar3Tag > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.sideBar3Tag > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

@media (min-width: 31.25rem) {
  .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 75% 25%;
    grid-template-rows: 75% 25%;
    margin-bottom: 1rem;
  }
  .project > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .project > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .projectDisplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem;
  }
}
@media (min-width: 35rem) {
  .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 37.5rem) {
  .aboutMe .aboutMeText {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}
@media (min-width: 55rem) {
  .aboutMe .aboutMeText {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }


}
@media (min-width: 56.25rem) {
  .projectIndepth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 2fr;
    grid-template-columns: 0.5fr 2fr;
  }

  .sideBar {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    min-width: 13rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sideBar2Tag {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    min-width: 13rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sideBar3Tag {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    min-width: 13rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 2fr;
    grid-template-rows: 0.5fr 2fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .headSection {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .regularSection {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
}
@media (min-width: 70rem) {
  .aboutMe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
  .aboutMe div img {
    margin-right: 1rem;
  }
  .aboutMe .aboutMeText {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}