doctype html
html(lang="en")
	head
		title About Me
		include inc/_imports.pug

	
	body

		include inc/_title.pug
		include inc/_nav.pug
		section.aboutMe
			div
				img(src="img/Cerone_3024.png" alt="An image of Nathan Cerone smiling wearing a black jacket overtop a grey hoodie" width="562" height="562")

			div.aboutMeText
				h2 About Me
				p Hey there, my name is Nathan Cerone
				p I am a student in the School of Interactive Art and Technology at SFU. I see interactive experiences as one of the strongest means of storytelling and I hope to create many interesting ones through digital media. My passions lie towards game development and game design I waste no time looking for experiences to grow from.

			
				p In my freetime however I find myself playing games, practicing Photoshop and maybe modding some games but most importantly spending time with friends and family.

				section(id = "ContactMe")
					h3 Contact Me:
					p Email: nathan_cerone@sfu.ca
					p Phone: 778-791-0928		
					a(href="https://github.com/ItalianCannolis?tab=overview&from=2022-04-01&to=2022-04-03") Github
					a(href="img/Nathan_Cerone_Resume.pdf") Resume


