div.title
	a(href="index.html").noBack
		img(src="img/Cerone_Logo_Color.png" alt="Nathan Cerone's logo, it is also a link that will go to the homepage" width="100" height="77")
	h1
		a(href="index.html") Nathan Cerone